* {
  scrollbar-width: none;
  margin: 0; 
  padding: 0;
}

/* menu */
#container-menu {
  height: 3500px;
  width: 100px;
  
  background-color: #272727;
  float: left;
}
#sticky-menu {
  position: sticky;
  top: 0;
  background-color: #272727;
  
  height: 100vh;
  width: 100px;
}
/* site */
#container-site {
  height: 3500px;
  width: calc(100vw - 100px);
  background-color: #dadada;
  float: left;
}
#main-canvas {
  width: 100%;
  height: calc(100% - 44px);
  display: block;
}
#footer {
  width: calc(100% - 30px);
  height: 14px;
  font-size: 14px;
  text-align: center;
  color: #dadada;
  padding: 15px;
  background-color: black;
}
/* others */

#test {
  height: 50px;
  width: 50px;
  background-color: blue;
}